FORMAT: 1A
HOST: http://www.lan.com

# Latam API Checkin
API Rest para la aplicación checkin de LAN.com


## Reservation Information [/ws/api/checkin/1.0/rest/reservation/information]
### Get reservation information [GET]

+ Request (application/json)
       
        {
        /**
          * Portal name where RI is called. Posibles optios are: personas, empresas, etc
          * @type: String
          * @format: $$$$$$
          */
            "portal": "empresas",
            "application": "checkin",
            "country": "BR",
            "language": "PT",
            "check_input": "6VKQD5",
            "lastName": "SIMPSON"
        }

        
+ Response 200 (application/json)

    + Header

            flowId:a4f390e1-af0d-4bcd-8682-fd932d2d8ad
            trackId:4264964            
    
    + Body

            {
                "status": {
                    "code": 200
                },
                "data": {
                    "bookings": [
                        {
                            "recordLocator": "asdfds",
                            "segments": [
                                {
                                    "id": 1,
                                    "flights": [
                                        {
                                            "id": 1,
                                            "flightNumber": 23323,
                                            "operatingAirlineCode": "JJ",
                                            "marketinfAirlineCode": "LA",
                                            "departureData": {
                                                "departureCity": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "departureAirport": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "estimatedDepartureDateTime": "2014-05-07T16:07"
                                            },
                                            "arrivalData": {
                                                "arrivalCity": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "arrivalAirport": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "estimatedArrivalDateTime": "2014-05-07T17:38"
                                            },
                                            "connectionWith": 2,
                                            "status": "OPEN",
                                            "isLeg": false,
                                            "messages": [
                                                {
                                                    "text": "Este vuelo esta abierto para checkin"
                                                }
                                            ],
                                            "passengers": [
                                                {
                                                    "id": 1,
                                                    "ticketNumber": "04534245452342",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 2,
                                                    "ticketNumber": "04534245452343",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 3,
                                                    "ticketNumber": "04534245452344",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                }
                                            ],
                                            "gds": 1
                                        },
                                        {
                                            "id": 2,
                                            "flightNumber": 23323,
                                            "operatingAirlineCode": "JJ",
                                            "marketinfAirlineCode": "LA",
                                            "departureData": {
                                                "departureCity": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "departureAirport": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "estimatedDepartureDateTime": "2014-05-07T16:07"
                                            },
                                            "arrivalData": {
                                                "arrivalCity": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "arrivalAirport": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "estimatedArrivalDateTime": "2014-05-07T17:38"
                                            },
                                            "connectionWith": 2,
                                            "status": "OPEN",
                                            "isLeg": false,
                                            "messages": [
                                                {
                                                    "text": "Este vuelo esta abierto para checkin"
                                                }
                                            ],
                                            "passengers": [
                                                {
                                                    "id": 1,
                                                    "ticketNumber": "04534245452342",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 2,
                                                    "ticketNumber": "04534245452343",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 3,
                                                    "ticketNumber": "04534245452344",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                }
                                            ],
                                            "gds": 1
                                        },
                                        {
                                            "id": 3,
                                            "flightNumber": 23323,
                                            "operatingAirlineCode": "JJ",
                                            "marketinfAirlineCode": "LA",
                                            "departureData": {
                                                "departureCity": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "departureAirport": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "estimatedDepartureDateTime": "2014-05-07T16:07"
                                            },
                                            "arrivalData": {
                                                "arrivalCity": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "arrivalAirport": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "estimatedArrivalDateTime": "2014-05-07T17:38"
                                            },
                                            "connectionWith": 2,
                                            "status": "OPEN",
                                            "isLeg": false,
                                            "messages": [
                                                {
                                                    "text": "Este vuelo esta abierto para checkin"
                                                }
                                            ],
                                            "passengers": [
                                                {
                                                    "id": 2,
                                                    "ticketNumber": "04534245452343",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 3,
                                                    "ticketNumber": "04534245452344",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                }
                                            ],
                                            "gds": 1
                                        }
                                    ],
                                    "status": "NOCHECK",
                                    "messages": [
                                        {
                                            "text": "Segmento no chequeble"
                                        }
                                    ]
                                },
                                {
                                    "id": 4,
                                    "flights": [
                                        {
                                            "id": 2,
                                            "flightNumber": 23323,
                                            "operatingAirlineCode": "JJ",
                                            "marketinfAirlineCode": "LA",
                                            "departureData": {
                                                "departureCity": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "departureAirport": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "estimatedDepartureDateTime": "2014-05-07T16:07"
                                            },
                                            "arrivalData": {
                                                "arrivalCity": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "arrivalAirport": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "estimatedArrivalDateTime": "2014-05-07T17:38"
                                            },
                                            "connectionWith": 2,
                                            "status": "OPEN",
                                            "isLeg": false,
                                            "messages": [
                                                {
                                                    "text": "Este vuelo esta abierto para checkin"
                                                }
                                            ],
                                            "passengers": [
                                                {
                                                    "id": 1,
                                                    "ticketNumber": "04534245452342",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 2,
                                                    "ticketNumber": "04534245452343",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 3,
                                                    "ticketNumber": "04534245452344",
                                                    "status": "ENABLE",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                }
                                            ],
                                            "gds": 1
                                        }
                                    ],
                                    "status": "CHECK",
                                    "messages": [
                                        {
                                            "text": "Segmento chequeble "
                                        }
                                    ]
                                }
                            ],
                            "passengers": [
                                {
                                    "id": 2,
                                    "ticketNumber": "04534245452343",
                                    "name": "TUTIN",
                                    "lastName": "PEREZ",
                                    "gender": "MALE",
                                    "frequentFlyerProgram": "JJ",
                                    "frequentFlyerNumber": 23453254,
                                    "type": "CHD"
                                },
                                {
                                    "id": 3,
                                    "ticketNumber": "04534245452344",
                                    "name": "TUTITO",
                                    "lastName": "PEREZ",
                                    "gender": "MALE",
                                    "frequentFlyerProgram": "JJ",
                                    "frequentFlyerNumber": 23453254,
                                    "type": "INF"
                                }
                            ],
                            "status": "ENABLE",
                            "messages": [
                                {
                                    "text": "Reserva no habilitada para checkin",
                                    "url": "lan.com/cgi-bin/checkin/paso2.cgi"
                                }
                            ]
                        }
                    ]
                }
            }

    + Schema

            {
                "type":"object",
                "$schema": "http://json-schema.org/draft-03/schema",
                "id": "http://jsonschema.net",
                "required":false,
                "properties":{
                    "data": {
                        "type":"object",
                        "required":false,
                        "properties":{
                            "bookings": {
                                "type":"array",
                                "required":false,
                                "items":
                                    {
                                        "type":"object",
                                        "required":false,
                                        "properties":{
                                            "messages": {
                                                "type":"array",
                                                "required":false,
                                                "items":
                                                    {
                                                        "type":"object",
                                                        "required":false,
                                                        "properties":{
                                                            "text": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "url": {
                                                                "type":"string",
                                                                "required":false
                                                            }
                                                        }
                                                    }
                                                

                                            },
                                            "passengers": {
                                                "type":"array",
                                                "required":false,
                                                "items":
                                                    {
                                                        "type":"object",
                                                        "id": "http://jsonschema.net/data/bookings/0/passengers/0",
                                                        "required":false,
                                                        "properties":{
                                                            "frequentFlyerNumber": {
                                                                "type":"number",
                                                                "required":false
                                                            },
                                                            "frequentFlyerProgram": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "gender": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "id": {
                                                                "type":"number",
                                                                "required":false
                                                            },
                                                            "lastName": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "name": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "ticketNumber": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "type": {
                                                                "type":"string",
                                                                "required":false
                                                            }
                                                        }
                                                    }
                                                

                                            },
                                            "recordLocator": {
                                                "type":"string",
                                                "required":false
                                            },
                                            "segments": {
                                                "type":"array",
                                                "required":false,
                                                "items":
                                                    {
                                                        "type":"object",
                                                        "id": "http://jsonschema.net/data/bookings/0/segments/0",
                                                        "required":false,
                                                        "properties":{
                                                            "flights": {
                                                                "type":"array",
                                                                "required":false,
                                                                "items":
                                                                    {
                                                                        "type":"object",
                                                                        "id": "http://jsonschema.net/data/bookings/0/segments/0/flights/0",
                                                                        "required":false,
                                                                        "properties":{
                                                                            "arrivalData": {
                                                                                "type":"object",
                                                                                "required":false,
                                                                                "properties":{
                                                                                    "arrivalAirport": {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "code": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            },
                                                                                            "name": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    "arrivalCity": {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "code": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            },
                                                                                            "name": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    "estimatedArrivalDateTime": {
                                                                                        "type":"string",
                                                                                        "required":false
                                                                                    }
                                                                                }
                                                                            },
                                                                            "connectionWith": {
                                                                                "type":"number",
                                                                                "required":false
                                                                            },
                                                                            "departureData": {
                                                                                "type":"object",
                                                                                "required":false,
                                                                                "properties":{
                                                                                    "departureAirport": {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "code": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            },
                                                                                            "name": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    "departureCity": {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "code": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            },
                                                                                            "name": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    "estimatedDepartureDateTime": {
                                                                                        "type":"string",
                                                                                        "required":false
                                                                                    }
                                                                                }
                                                                            },
                                                                            "flightNumber": {
                                                                                "type":"number",
                                                                                "required":false
                                                                            },
                                                                            "gds": {
                                                                                "type":"number",
                                                                                "required":false
                                                                            },
                                                                            "id": {
                                                                                "type":"number",
                                                                                "required":false
                                                                            },
                                                                            "isLeg": {
                                                                                "type":"boolean",
                                                                                "required":false
                                                                            },
                                                                            "marketinfAirlineCode": {
                                                                                "type":"string",
                                                                                "required":false
                                                                            },
                                                                            "messages": {
                                                                                "type":"array",
                                                                                "required":false,
                                                                                "items":
                                                                                    {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "text": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                

                                                                            },
                                                                            "operatingAirlineCode": {
                                                                                "type":"string",
                                                                                "required":false
                                                                            },
                                                                            "passengers": {
                                                                                "type":"array",
                                                                                "required":false,
                                                                                "items":
                                                                                    {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "documents": {
                                                                                                "type":"object",
                                                                                                "required":false,
                                                                                                "properties":{
                                                                                                    "boardingpasspdf": {
                                                                                                        "type":"boolean",
                                                                                                        "required":false
                                                                                                    },
                                                                                                    "emailboardingpass": {
                                                                                                        "type":"boolean",
                                                                                                        "required":false
                                                                                                    },
                                                                                                    "mobileboardingpass": {
                                                                                                        "type":"boolean",
                                                                                                        "required":false
                                                                                                    },
                                                                                                    "precheckvoucher": {
                                                                                                        "type":"boolean",
                                                                                                        "required":false
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "id": {
                                                                                                "type":"number",
                                                                                                "required":false
                                                                                            },
                                                                                            "messages": {
                                                                                                "type":"array",
                                                                                                "required":false
                                                                                            },
                                                                                            "status": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            },
                                                                                            "ticketNumber": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                

                                                                            },
                                                                            "status": {
                                                                                "type":"string",
                                                                                "required":false
                                                                            }
                                                                        }
                                                                    }
                                                                

                                                            },
                                                            "id": {
                                                                "type":"number",
                                                                "required":false
                                                            },
                                                            "messages": {
                                                                "type":"array",
                                                                "required":false,
                                                                "items":
                                                                    {
                                                                        "type":"object",
                                                                        "required":false,
                                                                        "properties":{
                                                                            "text": {
                                                                                "type":"string",
                                                                                "required":false
                                                                            }
                                                                        }
                                                                    }
                                                                

                                                            },
                                                            "status": {
                                                                "type":"string",
                                                                "required":false
                                                            }
                                                        }
                                                    }
                                                

                                            },
                                            "status": {
                                                "type":"string",
                                                "required":false
                                            }
                                        }
                                    }
                                

                            }
                        }
                    },
                    "status": {
                        "type":"object",
                        "required":false,
                        "properties":{
                            "code": {
                                "type":"number",
                                "required":false
                            }
                        }
                    }
                }
            }


+ Response 500 (application/json)

        { "title": "Fatal Error" }

+ Response 501 (application/json)

        { "title": "No paso la validacion del apellido o record locator, intente de nuevo" } 

+ Response 502 (application/json)  

        { "title": "Error llamando al servicio, trate en un rato" }         

+ Response 503 (application/json)

        { "title": "No disponible el checkin" }

+ Response 510 (application/json)

        { "title": "Reserva inhibida para checkin" }

+ Response 521 (application/json)

        { "title": "Redirigiendo a sitio tam", "url" : "tam.com.br/supercheckindetam" }

+ Response 530 (application/json)

        { "title": "Reserva de grupo, pedir ingreso foid o eticket" }