FORMAT: 1A
HOST: http://www.lan.com

# Latam API Checkin
API Rest para la aplicación checkin de LAN.com


# Group Checkin Bookings 
## Get Reservations [/ws/api/checkin/1.0/rest/reservation/information]
### Get reservation information [GET]

+ Request (application/json)
      
        {
            "portal": "empresas",
            "application": "checkin",
            "country": "BR",
            "language": "PT",
            "check_input": "6VKQD5",
            "lastName": "SIMPSON",
            "gds" : 1
        }

    + Schema

            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net#",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "portal": {
                  "type": "string",
                  "additionalProperties": false
                },
                "application": {
                  "type": "string",
                  "additionalProperties": false
                },
                "country": {
                  "type": "string",
                  "additionalProperties": false
                },
                "language": {
                  "type": "string",
                  "additionalProperties": false
                },
                "check_input": {
                  "type": "string",
                  "additionalProperties": false
                },
                "lastName": {
                  "type": "string",
                  "additionalProperties": false
                },
                "gds": {
                  "type": number,
                  "additionalProperties": false,
                  "descripcion" : "1 sabre, 2 amadeus"
                }
              }
            }

        
+ Response 200 (application/json)

    + Header

            flowId:a4f390e1-af0d-4bcd-8682-fd932d2d8ad
            trackId:4264964            
    
    + Body

            {
                "status": {
                    "code": 200
                },
                "data": {
                    "bookings": [
                        {
                            "recordLocator": "asdfds",
                            "segments": [
                                {
                                    "id": 1,
                                    "flights": [
                                        {
                                            "id": 1,
                                            "flightNumber": 23323,
                                            "operatingAirlineCode": "JJ",
                                            "marketingAirlineCode": "LA",
                                            "departureData": {
                                                "departureCity": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "departureAirport": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "estimatedDepartureDateTime": "2014-05-07T16:07"
                                            },
                                            "arrivalData": {
                                                "arrivalCity": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "arrivalAirport": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "estimatedArrivalDateTime": "2014-05-07T17:38"
                                            },
                                            "connectionWith": 2,
                                            "status": "OPEN",
                                            "isStopOver": false,
                                            "messages": [
                                                {
                                                    "text": "Este vuelo esta abierto para checkin"
                                                }
                                            ],
                                            "passengers": [
                                                {
                                                    "id": 1,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452342",
                                                    "status": "NOTCHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 2,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452343",
                                                    "status": "NOTCHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 3,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452344",
                                                    "status": "NOTCHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": 2,
                                            "flightNumber": 23323,
                                            "operatingAirlineCode": "JJ",
                                            "marketingAirlineCode": "LA",
                                            "departureData": {
                                                "departureCity": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "departureAirport": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "estimatedDepartureDateTime": "2014-05-07T16:07"
                                            },
                                            "arrivalData": {
                                                "arrivalCity": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "arrivalAirport": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "estimatedArrivalDateTime": "2014-05-07T17:38"
                                            },
                                            "connectionWith": 2,
                                            "status": "OPEN",
                                            "isStopOver": false,
                                            "messages": [
                                                {
                                                    "text": "Este vuelo esta abierto para checkin"
                                                }
                                            ],
                                            "passengers": [
                                                {
                                                    "id": 1,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452342",
                                                    "status": "CHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 2,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452343",
                                                    "status": "NOTCHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 3,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452344",
                                                    "status": "CHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                }
                                            ]
                                        },
                                        {
                                            "id": 3,
                                            "flightNumber": 23323,
                                            "operatingAirlineCode": "JJ",
                                            "marketingAirlineCode": "LA",
                                            "departureData": {
                                                "departureCity": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "departureAirport": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "estimatedDepartureDateTime": "2014-05-07T16:07"
                                            },
                                            "arrivalData": {
                                                "arrivalCity": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "arrivalAirport": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "estimatedArrivalDateTime": "2014-05-07T17:38"
                                            },
                                            "connectionWith": 2,
                                            "status": "OPEN",
                                            "isStopOver": false,
                                            "messages": [
                                                {
                                                    "text": "Este vuelo esta abierto para checkin"
                                                }
                                            ],
                                            "passengers": [
                                                {
                                                    "id": 2,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452343",
                                                    "status": "NOTCHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 3,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452344",
                                                    "status": "NOTCHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                }
                                            ]
                                        }
                                    ],
                                    "status": "NOCHECK",
                                    "messages": [
                                        {
                                            "text": "Segmento no chequeble"
                                        }
                                    ]
                                },
                                {
                                    "id": 4,
                                    "flights": [
                                        {
                                            "id": 2,
                                            "flightNumber": 23323,
                                            "operatingAirlineCode": "JJ",
                                            "marketingAirlineCode": "LA",
                                            "departureData": {
                                                "departureCity": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "departureAirport": {
                                                    "code": "IGU",
                                                    "name": "Foz de Iguazu"
                                                },
                                                "estimatedDepartureDateTime": "2014-05-07T16:07"
                                            },
                                            "arrivalData": {
                                                "arrivalCity": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "arrivalAirport": {
                                                    "code": "SCL",
                                                    "name": "Santiado de Chile"
                                                },
                                                "estimatedArrivalDateTime": "2014-05-07T17:38"
                                            },
                                            "connectionWith": 2,
                                            "status": "OPEN",
                                            "isStopOver": false,
                                            "messages": [
                                                {
                                                    "text": "Este vuelo esta abierto para checkin"
                                                }
                                            ],
                                            "passengers": [
                                                {
                                                    "id": 1,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452342",
                                                    "status": "NOTCHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": [ 
                                                        {
                                                            text : "pasajero imposibilitado de realizar checkin por que es terrorista"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "id": 2,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452343",
                                                    "status": "CHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                },
                                                {
                                                    "id": 3,
                                                    "paxSegmentID" : "1104534245452342",
                                                    "ticketNumber": "04534245452344",
                                                    "status": "CHECKED",
                                                    "documents": {
                                                        "boardingpasspdf": true,
                                                        "emailboardingpass": true,
                                                        "mobileboardingpass": false,
                                                        "precheckvoucher": true
                                                    },
                                                    "messages": []
                                                }
                                            ]
                                        }
                                    ],
                                    "status": "CHECK",
                                    "messages": [
                                        {
                                            "text": "Segmento chequeble "
                                        }
                                    ]
                                }
                            ],
                            "passengers": [
                                {
                                    "id": 2,
                                    "name": "TUTIN",
                                    "lastName": "PEREZ",
                                    "gender": "MALE",
                                    "frequentFlyerProgram": "JJ",
                                    "frequentFlyerNumber": 23453254,
                                    "type": "CHD"
                                },
                                {
                                    "id": 2,
                                    "name": "TUTITO",
                                    "lastName": "PEREZ",
                                    "gender": "MALE",
                                    "frequentFlyerProgram": "JJ",
                                    "frequentFlyerNumber": 23453254,
                                    "type": "INF"
                                },
                                {
                                    "id": 3,
                                    "name": "TUTITO",
                                    "lastName": "PEREZ",
                                    "gender": "MALE",
                                    "frequentFlyerProgram": "JJ",
                                    "frequentFlyerNumber": 23453254,
                                    "type": "INF"
                                }
                            ],
                            "status": "ENABLE",
                            "messages": [
                                {
                                    "text": "Reserva no habilitada para checkin",
                                    "url": "lan.com/cgi-bin/checkin/paso2.cgi"
                                }
                            ],
                            "gds": 1
                        }
                    ]
                }
            }

    + Schema

            {
                "type":"object",
                "$schema": "http://json-schema.org/draft-03/schema",
                "id": "http://jsonschema.net",
                "required":false,
                "properties":{
                    "data": {
                        "type":"object",
                        "required":false,
                        "properties":{
                            "bookings": {
                                "type":"array",
                                "required":false,
                                "items":
                                    {
                                        "type":"object",
                                        "required":false,
                                        "properties":{
                                            "messages": {
                                                "type":"array",
                                                "required":false,
                                                "items":
                                                    {
                                                        "type":"object",
                                                        "required":false,
                                                        "properties":{
                                                            "text": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "url": {
                                                                "type":"string",
                                                                "required":false
                                                            }
                                                        }
                                                    }
                                                

                                            },
                                            "passengers": {
                                                "type":"array",
                                                "required":false,
                                                "items":
                                                    {
                                                        "type":"object",
                                                        "id": "http://jsonschema.net/data/bookings/0/passengers/0",
                                                        "required":false,
                                                        "properties":{
                                                            "frequentFlyerNumber": {
                                                                "type":"number",
                                                                "required":false
                                                            },
                                                            "frequentFlyerProgram": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "gender": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "id": {
                                                                "type":"number",
                                                                "required":false
                                                            },
                                                            "lastName": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "name": {
                                                                "type":"string",
                                                                "required":false
                                                            },
                                                            "type": {
                                                                "type":"string",
                                                                "required":false,
                                                                "description" : "ADT = adulto, CHD = child, INF = infante"
                                                            }
                                                        }
                                                    }
                                                

                                            },
                                            "recordLocator": {
                                                "type":"string",
                                                "required":false
                                            },
                                            "segments": {
                                                "type":"array",
                                                "required":false,
                                                "items":
                                                    {
                                                        "type":"object",
                                                        "id": "http://jsonschema.net/data/bookings/0/segments/0",
                                                        "required":false,
                                                        "properties":{
                                                            "flights": {
                                                                "type":"array",
                                                                "required":false,
                                                                "description" : "deberían venir ordenados por fecha, de menor a mayor"
                                                                "items":
                                                                    {
                                                                        "type":"object",
                                                                        "id": "http://jsonschema.net/data/bookings/0/segments/0/flights/0",
                                                                        "required":false,
                                                                        "properties":{
                                                                            "arrivalData": {
                                                                                "type":"object",
                                                                                "required":false,
                                                                                "properties":{
                                                                                    "arrivalAirport": {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "code": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            },
                                                                                            "name": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    "arrivalCity": {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "code": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            },
                                                                                            "name": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    "estimatedArrivalDateTime": {
                                                                                        "type":"string",
                                                                                        "required":false
                                                                                    }
                                                                                }
                                                                            },
                                                                            "connectionWith": {
                                                                                "type":"number",
                                                                                "required":false,
                                                                                "description" : "Este campo indica el id del vuelo con el que esta en conexion este, si esta nulo no es conexion"
                                                                            },
                                                                            "departureData": {
                                                                                "type":"object",
                                                                                "required":false,
                                                                                "properties":{
                                                                                    "departureAirport": {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "code": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            },
                                                                                            "name": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    "departureCity": {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "code": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            },
                                                                                            "name": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    "estimatedDepartureDateTime": {
                                                                                        "type":"string",
                                                                                        "required":false
                                                                                    }
                                                                                }
                                                                            },
                                                                            "flightNumber": {
                                                                                "type":"number",
                                                                                "required":false
                                                                            },
                                                                            "id": {
                                                                                "type":"number",
                                                                                "required":false
                                                                            },
                                                                            "isStopOver": {
                                                                                "type":"boolean",
                                                                                "required":false,
                                                                                "description" : "Indica si este vuelo es escala del segmento al que pertenece"
                                                                            },
                                                                            "marketingAirlineCode": {
                                                                                "type":"string",
                                                                                "required":false
                                                                            },
                                                                            "messages": {
                                                                                "type":"array",
                                                                                "required":false,
                                                                                "items":
                                                                                    {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "text": {
                                                                                                "type":"string",
                                                                                                "required":false,
                                                                                                "description" : "texto que describe el status del vuelo en el segmento"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                

                                                                            },
                                                                            "operatingAirlineCode": {
                                                                                "type":"string",
                                                                                "required":false
                                                                            },
                                                                            "passengers": {
                                                                                "type":"array",
                                                                                "required":false,
                                                                                "items":
                                                                                    {
                                                                                        "type":"object",
                                                                                        "required":false,
                                                                                        "properties":{
                                                                                            "documents": {
                                                                                                "type":"object",
                                                                                                "required":false,
                                                                                                "properties":{
                                                                                                    "boardingpasspdf": {
                                                                                                        "type":"boolean",
                                                                                                        "required":false
                                                                                                    },
                                                                                                    "emailboardingpass": {
                                                                                                        "type":"boolean",
                                                                                                        "required":false
                                                                                                    },
                                                                                                    "mobileboardingpass": {
                                                                                                        "type":"boolean",
                                                                                                        "required":false
                                                                                                    },
                                                                                                    "precheckvoucher": {
                                                                                                        "type":"boolean",
                                                                                                        "required":false
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "id": {
                                                                                                "type":"number",
                                                                                                "required":false
                                                                                            },
                                                                                            "paxSegmentID" :  {
                                                                                                "type":"string",
                                                                                                "required":false,
                                                                                                "description" : "Identificador del pasajero segmento, para amadeus debería ser el productID para sabre el passengerID"            
                                                                                            },
                                                                                            "messages": {
                                                                                                "type":"array",
                                                                                                "required":false,
                                                                                                "items":
                                                                                                {
                                                                                                    "type":"object",
                                                                                                    "required":false,
                                                                                                    "properties":{
                                                                                                        "text": {
                                                                                                            "type":"string",
                                                                                                            "required":false,
                                                                                                            "description" : "mensajes para describir el status del pasajero en el vuelo"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "status": {
                                                                                                "type":"string",
                                                                                                "required":false,
                                                                                                "description" : "status del pasajero en ese vuelo NOTCHECKED = se puede chequear, CHECKED = no se puede chequear"
                                                                                            },
                                                                                            "ticketNumber": {
                                                                                                "type":"string",
                                                                                                "required":false
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                

                                                                            },
                                                                            "status": {
                                                                                "type":"string",
                                                                                "required":false,
                                                                                "description" : "Indica el status del vuelo OPEN = abierto para checkin, CLOSE = cerrado para checkin, se paso la ventana operacional, NOTOPENYET = aun no abierto, aun no entra en la ventana operacional"
                                                                            }
                                                                        }
                                                                    }
                                                                

                                                            },
                                                            "id": {
                                                                "type":"number",
                                                                "required":false
                                                            },
                                                            "messages": {
                                                                "type":"array",
                                                                "required":false,
                                                                "items":
                                                                    {
                                                                        "type":"object",
                                                                        "required":false,
                                                                        "properties":{
                                                                            "text": {
                                                                                "type":"string",
                                                                                "required":false,
                                                                                "description" : "mensajes para describir el status del segmento"
                                                                            }
                                                                        }
                                                                    }
                                                                

                                                            },
                                                            "status": {
                                                                "type":"string",
                                                                "required":false,
                                                                "description" : "status del segmento CHEK = checkeable , NOCHEK =  no chequeable"
                                                            }
                                                        }
                                                    }
                                                

                                            },
                                            "status": {
                                                "type":"string",
                                                "required":false,
                                                "description" : "status de la reserva ENABLE = se puede chequear, DISABLE =  no se puede chequear "
                                            },
                                            "messages": {
                                                "type":"array",
                                                "required":false,
                                                "items":
                                                {
                                                    "type":"object",
                                                    "required":false,
                                                    "properties":{
                                                        "text": {
                                                            "type":"string",
                                                            "required":false,
                                                            "description" : "texto que describe el status de una reserva"
                                                        }
                                                    }
                                                }                               
                                            },
                                            "gds": {
                                                "type":number,
                                                "required":false,
                                                "description" : "gds a la que pertenece la reserva 1 sabre, 2 amadeus"
                                            },
                                        }
                                    }
                                

                            }
                        }
                    },
                    "status": {
                        "type":"object",
                        "required":false,
                        "properties":{
                            "code": {
                                "type":"number",
                                "required":false
                            }
                        }
                    }
                }
            }


+ Response 500 (application/json)

        { "title": "Fatal Error" }

+ Response 501 (application/json)

        { "title": "No paso la validacion del apellido o record locator, intente de nuevo" } 

+ Response 502 (application/json)  

        { "title": "Error llamando al servicio, trate en un rato" }         

+ Response 503 (application/json)

        { "title": "No disponible el checkin" }

+ Response 510 (application/json)

        { "title": "Reserva inhibida para checkin" }

+ Response 520 (application/json)

        { "title": "Request invalido" }

+ Response 521 (application/json)

        { "title": "Redirigiendo a sitio tam", "url" : "tam.com.br/supercheckindetam" }

+ Response 530 (application/json)

        { "title": "Reserva de grupo, pedir ingreso foid o eticket" }


# Group Pax Information
## Get API Information [/ws/api/checkin/1.0/rest/api/get_api_information]
### Get API information [POST]

+ Request (application/json)
       
        {
            "recordLocator": "6VKQD5",
            "portal": "personas",
            "application": "checkin",
            "language": "PT",
            "country": "BR",
            "legs": [
                {
                    "departureAirport": "IGU",
                    "arrivalAirport": "CGH",
                    "operatingAirlineCode" : "JJ",
                    "passengers": [
                        {
                            "paxSegmentID" : "sfd3fsdf324fsda"
                        },
                        {
                           "paxSegmentID" : "sfd3fsdf324fsda"
                        },
                        {
                            "paxSegmentID" : "sfd3fsdf324fsda"
                        }
                    ]
                },
                {
                    "departureAirport": "CGH",
                    "arrivalAirport": "SDU",
                    "operatingAirlineCode" : "JJ",
                    "passengers": [
                        {
                            "paxSegmentID" : "sfd3fsdf324fsda"
                        },
                        {
                           "paxSegmentID" : "sfd3fsdf324fsda"
                        },
                        {
                            "paxSegmentID" : "sfd3fsdf324fsda"
                        }
                    ]
                },
                {
                    "departureAirport": "GIG",
                    "arrivalAirport": "POA",
                    "operatingAirlineCode" : "JJ",
                    "passengers": [
                        {
                            "paxSegmentID" : "sfd3fsdf324fsda"
                        },
                        {
                           "paxSegmentID" : "sfd3fsdf324fsda"
                        },
                        {
                            "paxSegmentID" : "sfd3fsdf324fsda"
                        }
                    ]
                }
            ]
        }      
        

    + Schema

            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net#",
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "recordLocator": {
                  "type": "string",
                  "additionalProperties": false
                },
                "portal": {
                  "type": "string",
                  "additionalProperties": false
                },
                "application": {
                  "type": "string",
                  "additionalProperties": false
                },
                "language": {
                  "type": "string",
                  "additionalProperties": false
                },
                "country": {
                  "type": "string",
                  "additionalProperties": false
                },
                "legs": {
                  "type": "array",
                  "additionalProperties": false,
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "departureAirport": {
                        "type": "string",
                        "additionalProperties": false
                      },
                      "arrivalAirport": {
                        "type": "string",
                        "additionalProperties": false
                      },
                      "operatingAirlineCode": {
                        "type": "string",
                        "additionalProperties": false
                      },
                      "passengers": {
                        "type": "array",
                        "additionalProperties": false,
                        "items": {
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "paxSegmentID": {
                              "type": "string",
                              "additionalProperties": false
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }


+ Response 200 (application/json)

    + Header

            flowId:a4f390e1-af0d-4bcd-8682-fd932d2d8ad
            trackId:4264964            
    
    + Body

            {
                "status": {
                    "code": 200,
                    "message": ""
                },
                "data": {
                    "passengers": [
                        {
                            "paxSegmentID": "23161548000063A1",
                            "name": "MARIA",
                            "lastName": "PAULA SOARES SAMPLES",
                            "ticketNumber": "9572483127883",
                            "blockElements": [
                                {
                                    "name": "EMERGENCY_CONTACT_INFO_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "emergencyContactName"
                                        },
                                        {
                                            "elementId": "areaPhoneCode"
                                        },
                                        {
                                            "elementId": "countryPhoneCode"
                                        },
                                        {
                                            "elementId": "phoneNumber"
                                        },
                                        {
                                            "elementId": "countryPhone"
                                        },
                                        {
                                            "elementId": "phoneType"
                                        }
                                    ]
                                },
                                {
                                    "name": "FREQUENT_FLYER_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "frequentFlyerProgram"
                                        },
                                        {
                                            "elementId": "frequentFlyerNumber"
                                        }
                                    ]
                                },
                                {
                                    "name": "PERSONAL_INFO_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "dateOfBirth"
                                        },
                                        {
                                            "elementId": "nationality",
                                            "defaultValue": "BR"
                                        },
                                        {
                                            "elementId": "foidNumber"
                                        },
                                        {
                                            "elementId": "foidType"
                                        },
                                        {
                                            "elementId": "genre"
                                        },
                                        {
                                            "elementId": "passportIssueCountry"
                                        }
                                    ]
                                },
                                {
                                    "name": "PASSPORT_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "passportExpirationDate"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "paxSegmentID": "3362054900001A3B",
                            "name": "HOMERO",
                            "lastName": "SIMPSON",
                            "ticketNumber": "9572483127884",
                            "blockElements": [
                                {
                                    "name": "EMERGENCY_CONTACT_INFO_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "emergencyContactName"
                                        },
                                        {
                                            "elementId": "areaPhoneCode"
                                        },
                                        {
                                            "elementId": "countryPhoneCode"
                                        },
                                        {
                                            "elementId": "phoneNumber"
                                        },
                                        {
                                            "elementId": "countryPhone"
                                        },
                                        {
                                            "elementId": "phoneType"
                                        }
                                    ]
                                },
                                {
                                    "name": "FREQUENT_FLYER_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "frequentFlyerProgram"
                                        },
                                        {
                                            "elementId": "frequentFlyerNumber"
                                        }
                                    ]
                                },
                                {
                                    "name": "PERSONAL_INFO_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "dateOfBirth"
                                        },
                                        {
                                            "elementId": "nationality",
                                            "defaultValue": "BR"
                                        },
                                        {
                                            "elementId": "foidNumber"
                                        },
                                        {
                                            "elementId": "foidType"
                                        },
                                        {
                                            "elementId": "genre"
                                        },
                                        {
                                            "elementId": "passportIssueCountry"
                                        }
                                    ]
                                },
                                {
                                    "name": "PASSPORT_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "passportExpirationDate"
                                        }
                                    ]
                                }
                            ]
                        },
                        {
                            "paxSegmentID": "3362054900001A3C",
                            "name": "LISA",
                            "lastName": "SIMPSON",
                            "ticketNumber": "9572483127885",
                            "blockElements": [
                                {
                                    "name": "EMERGENCY_CONTACT_INFO_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "emergencyContactName"
                                        },
                                        {
                                            "elementId": "areaPhoneCode"
                                        },
                                        {
                                            "elementId": "countryPhoneCode"
                                        },
                                        {
                                            "elementId": "phoneNumber"
                                        },
                                        {
                                            "elementId": "countryPhone"
                                        },
                                        {
                                            "elementId": "phoneType"
                                        }
                                    ]
                                },
                                {
                                    "name": "FREQUENT_FLYER_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "frequentFlyerProgram"
                                        },
                                        {
                                            "elementId": "frequentFlyerNumber"
                                        }
                                    ]
                                },
                                {
                                    "name": "PERSONAL_INFO_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "dateOfBirth",
                                            "defaultValue": "2011-04-05"
                                        },
                                        {
                                            "elementId": "nationality",
                                            "defaultValue": "BR"
                                        },
                                        {
                                            "elementId": "foidNumber"
                                        },
                                        {
                                            "elementId": "foidType"
                                        },
                                        {
                                            "elementId": "genre"
                                        },
                                        {
                                            "elementId": "passportIssueCountry"
                                        }
                                    ]
                                },
                                {
                                    "name": "PASSPORT_BLOCK",
                                    "fieldElements": [
                                        {
                                            "elementId": "passportExpirationDate"
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }                    
            }


    + Schema

            {
              "$schema": "http://json-schema.org/draft-04/schema#",
              "id": "http://jsonschema.net#",
              "type": "object",
              "required": false,
              "title": "root",
              "description": "",
              "name": "",
              "properties": {
                "status": {
                  "type": "object",
                  "required": false,
                  "title": "",
                  "description": "",
                  "name": "",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "required": false,
                      "title": "",
                      "description": "",
                      "name": "",
                      "minimum": 0
                    },
                    "message": {
                      "type": "string",
                      "required": false,
                      "title": "",
                      "description": "",
                      "name": "",
                      "minLength": 0
                    }
                  }
                },
                "data": {
                  "id": "http://jsonschema.net/data#",
                  "type": "object",
                  "required": false,
                  "title": "",
                  "description": "",
                  "name": "",
                  "properties": {
                    "passengers": {
                      "type": "array",
                      "required": false,
                      "title": "",
                      "description": "",
                      "name": "",
                      "minItems": 0,
                      "uniqueItems": false,
                      "items": {
                        "type": "object",
                        "required": false,
                        "title": "",
                        "description": "",
                        "name": "",
                        "properties": {
                          "paxSegmentID": {
                            "type": "string",
                            "required": true,
                            "title": "",
                            "description": "",
                            "name": "",
                            "minLength": 0
                          },
                          "name": {
                            "type": "string",
                            "required": false,
                            "title": "",
                            "description": "",
                            "name": "",
                            "minLength": 0
                          },
                          "lastName": {
                            "type": "string",
                            "required": false,
                            "title": "",
                            "description": "",
                            "name": "",
                            "minLength": 0
                          },
                          "ticketNumber": {
                            "type": "string",
                            "required": false,
                            "title": "",
                            "description": "",
                            "name": "",
                            "minLength": 0
                          },
                          "blockElements": {
                            "type": "array",
                            "required": false,
                            "title": "",
                            "description": "",
                            "name": "",
                            "minItems": 0,
                            "uniqueItems": false,
                            "items": {
                              "type": "object",
                              "required": false,
                              "title": "",
                              "description": "",
                              "name": "",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "required": false,
                                  "title": "",
                                  "description": "",
                                  "name": "",
                                  "minLength": 0
                                },
                                "fieldElements": {
                                  "type": "array",
                                  "required": false,
                                  "title": "",
                                  "description": "",
                                  "name": "",
                                  "minItems": 0,
                                  "uniqueItems": false,
                                  "items": {
                                    "type": "object",
                                    "required": false,
                                    "title": "",
                                    "description": "",
                                    "name": "",
                                    "properties": {
                                      "elementId": {
                                        "type": "string",
                                        "required": false,
                                        "title": "",
                                        "description": "",
                                        "name": "",
                                        "minLength": 0
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

+ Response 500 (application/json)

        { "title": "Fatal Error" }

+ Response 502 (application/json)  

        { "title": "Error llamando al servicio, trate en un rato" }         

+ Response 503 (application/json)

        { "title": "No disponible el checkin" }

+ Response 510 (application/json)

        { "title": "Reserva inhibida para checkin" }

+ Response 520 (application/json)

        { "title": "Request invalido" }

+ Response 522 (application/json)

        { "title": "No se puede obtener la configuracion de la api para este origen destino"}


## Update API Information [/ws/api/checkin/1.0/rest/api/update_api_information]
### Upadate API information [POST]

+ Request (application/json)
       
        {
            "language": "PT",
            "country": "BR",
            "portal": "personas",
            "recordLocator": "6VKQD5",
            "surName": "SIMPSON",
            "application": "checkin",
            "legs": [
                {
                    "id" : "01",
                    "flightNumber": 3339,
                    "departureAirport": "IGU",
                    "arrivalAirport": "CGH",
                    "departureDateTime": "07-05-2014 16:07",
                    "arrivalDateTime": "07-05-2014 17:38",
                    "operatingAirlineCode": "JJ",
                    "passengers": [
                        {
                            "paxSegmentID": "3362054900001A3C",
                            "foid": {
                                "number": "3215487",
                                "type": "PP",
                                "country": "BR"
                            },
                            "name": "maria",
                            "lastName": "paula soares samples",
                            "ticketNumber": "9572483127883",
                            "apiInformation": [
                                {
                                    "elementId": "ticketNumber",
                                    "value": "9572483127883"
                                },
                                {
                                    "elementId": "emergencyContactName",
                                    "value": "fulano"
                                },
                                {
                                    "elementId": "areaPhoneCode",
                                    "value": "321"
                                },
                                {
                                    "elementId": "countryPhoneCode",
                                    "value": "55"
                                },
                                {
                                    "elementId": "phoneNumber",
                                    "value": "654987"
                                },
                                {
                                    "elementId": "countryPhone",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "phoneType",
                                    "value": "1"
                                },
                                {
                                    "elementId": "frequentFlyerProgram",
                                    "value": "JJ"
                                },
                                {
                                    "elementId": "frequentFlyerNumber",
                                    "value": "1681462637"
                                },
                                {
                                    "elementId": "dateOfBirth",
                                    "value": "1985-10-10"
                                },
                                {
                                    "elementId": "nationality",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "foidNumber",
                                    "value": "3215487"
                                },
                                {
                                    "elementId": "foidType",
                                    "value": "PP"
                                },
                                {
                                    "elementId": "genre",
                                    "value": "F"
                                },
                                {
                                    "elementId": "passportIssueCountry",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "passportExpirationDate",
                                    "value": "2018-10-10"
                                }
                            ]
                        },
                        {
                            "paxSegmentID": "3362054900001A3C",
                            "foid": {
                                "number": "3216549875",
                                "type": "PP",
                                "country": "BR"
                            },
                            "name": "lisa",
                            "lastName": "simpson",
                            "ticketNumber": "9572483127885",
                            "apiInformation": [
                                {
                                    "elementId": "ticketNumber",
                                    "value": "9572483127885"
                                },
                                {
                                    "elementId": "emergencyContactName",
                                    "value": "fulano"
                                },
                                {
                                    "elementId": "areaPhoneCode",
                                    "value": "654"
                                },
                                {
                                    "elementId": "countryPhoneCode",
                                    "value": "55"
                                },
                                {
                                    "elementId": "phoneNumber",
                                    "value": "987526"
                                },
                                {
                                    "elementId": "countryPhone",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "phoneType",
                                    "value": "1"
                                },
                                {
                                    "elementId": "dateOfBirth",
                                    "value": "2011-04-05"
                                },
                                {
                                    "elementId": "nationality",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "foidNumber",
                                    "value": "3216549875"
                                },
                                {
                                    "elementId": "foidType",
                                    "value": "PP"
                                },
                                {
                                    "elementId": "genre",
                                    "value": "F"
                                },
                                {
                                    "elementId": "passportIssueCountry",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "passportExpirationDate",
                                    "value": "2018-10-10"
                                }
                            ]
                        }
                    ]
                },
                {
                    "id" : "02",
                    "flightNumber": 3952,
                    "departureAirport": "CGH",
                    "arrivalAirport": "SDU",
                    "departureDateTime": "07-05-2014 19:00",
                    "arrivalDateTime": "07-05-2014 20:06",
                    "operatingAirlineCode": "JJ",
                    "passengers": [
                        {
                            "paxSegmentID": "3362054900001A3C",
                            "foid": {
                                "number": "3215487",
                                "type": "PP",
                                "country": "BR"
                            },
                            "name": "maria",
                            "lastName": "paula soares samples",
                            "ticketNumber": "9572483127883",
                            "apiInformation": [
                                {
                                    "elementId": "ticketNumber",
                                    "value": "9572483127883"
                                },
                                {
                                    "elementId": "emergencyContactName",
                                    "value": "fulano"
                                },
                                {
                                    "elementId": "areaPhoneCode",
                                    "value": "321"
                                },
                                {
                                    "elementId": "countryPhoneCode",
                                    "value": "55"
                                },
                                {
                                    "elementId": "phoneNumber",
                                    "value": "654987"
                                },
                                {
                                    "elementId": "countryPhone",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "phoneType",
                                    "value": "1"
                                },
                                {
                                    "elementId": "frequentFlyerProgram",
                                    "value": "JJ"
                                },
                                {
                                    "elementId": "frequentFlyerNumber",
                                    "value": "1681462637"
                                },
                                {
                                    "elementId": "dateOfBirth",
                                    "value": "1985-10-10"
                                },
                                {
                                    "elementId": "nationality",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "foidNumber",
                                    "value": "3215487"
                                },
                                {
                                    "elementId": "foidType",
                                    "value": "PP"
                                },
                                {
                                    "elementId": "genre",
                                    "value": "F"
                                },
                                {
                                    "elementId": "passportIssueCountry",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "passportExpirationDate",
                                    "value": "2018-10-10"
                                }
                            ]
                        },
                        {
                            "paxSegmentID": "3362054900001A3C",
                            "foid": {
                                "number": "3216549875",
                                "type": "PP",
                                "country": "BR"
                            },
                            "name": "lisa",
                            "lastName": "simpson",
                            "ticketNumber": "9572483127885",
                            "apiInformation": [
                                {
                                    "elementId": "ticketNumber",
                                    "value": "9572483127885"
                                },
                                {
                                    "elementId": "emergencyContactName",
                                    "value": "fulano"
                                },
                                {
                                    "elementId": "areaPhoneCode",
                                    "value": "654"
                                },
                                {
                                    "elementId": "countryPhoneCode",
                                    "value": "55"
                                },
                                {
                                    "elementId": "phoneNumber",
                                    "value": "987526"
                                },
                                {
                                    "elementId": "countryPhone",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "phoneType",
                                    "value": "1"
                                },
                                {
                                    "elementId": "dateOfBirth",
                                    "value": "2011-04-05"
                                },
                                {
                                    "elementId": "nationality",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "foidNumber",
                                    "value": "3216549875"
                                },
                                {
                                    "elementId": "foidType",
                                    "value": "PP"
                                },
                                {
                                    "elementId": "genre",
                                    "value": "F"
                                },
                                {
                                    "elementId": "passportIssueCountry",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "passportExpirationDate",
                                    "value": "2018-10-10"
                                }
                            ]
                        }
                    ]
                },
                {
                    "id" : "03",
                    "flightNumber": 3411,
                    "departureAirport": "GIG",
                    "arrivalAirport": "POA",
                    "departureDateTime": "08-05-2014 08:14",
                    "arrivalDateTime": "08-05-2014 10:17",
                    "operatingAirlineCode": "JJ",
                    "passengers": [
                        {
                            "paxSegmentID": "3362054900001A3C",
                            "foid": {
                                "number": "3215487",
                                "type": "PP",
                                "country": "BR"
                            },
                            "name": "maria",
                            "lastName": "paula soares samples",
                            "ticketNumber": "9572483127883",
                            "apiInformation": [
                                {
                                    "elementId": "ticketNumber",
                                    "value": "9572483127883"
                                },
                                {
                                    "elementId": "emergencyContactName",
                                    "value": "fulano"
                                },
                                {
                                    "elementId": "areaPhoneCode",
                                    "value": "321"
                                },
                                {
                                    "elementId": "countryPhoneCode",
                                    "value": "55"
                                },
                                {
                                    "elementId": "phoneNumber",
                                    "value": "654987"
                                },
                                {
                                    "elementId": "countryPhone",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "phoneType",
                                    "value": "1"
                                },
                                {
                                    "elementId": "frequentFlyerProgram",
                                    "value": "JJ"
                                },
                                {
                                    "elementId": "frequentFlyerNumber",
                                    "value": "1681462637"
                                },
                                {
                                    "elementId": "dateOfBirth",
                                    "value": "1985-10-10"
                                },
                                {
                                    "elementId": "nationality",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "foidNumber",
                                    "value": "3215487"
                                },
                                {
                                    "elementId": "foidType",
                                    "value": "PP"
                                },
                                {
                                    "elementId": "genre",
                                    "value": "F"
                                },
                                {
                                    "elementId": "passportIssueCountry",
                                    "value": "BR"
                                },
                                {
                                    "elementId": "passportExpirationDate",
                                    "value": "2018-10-10"
                                }
                            ]
                        },
                        {
                            "paxSegmentID": "3362054900001A3C",
[...]
